@mixin flex-mother(
  $flex-direction: row,
  $justify-content: stretch,
  $align-items: stretch,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}
@mixin flex-child($flex-grow: 0, $align-items: auto, $justify-self: auto) {
}

@mixin input-mother-styles($width: 250px, $margin: 0, $max-width: 700px) {
  button {
    width: auto;
    margin: $margin;
  }
  div {
    position: relative;
    margin: $margin;
    width: $width;
    select {
      z-index: 9;
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
      background-color: transparent;
      line-height: 20px;
    }
    select + label {
      top: -20px;
    }
    input {
      z-index: 9;
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
      background-color: transparent;
      line-height: 20px;
    }
    input:focus {
      border-bottom: 1px solid royalblue;
      box-shadow: none;
      outline: none;
    }
    label {
      z-index: -10;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.2s;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      color: #888;
    }
    label.active {
      top: -50%;
      font-size: 12px;
      color: rgb(21, 52, 145);
    }
    input:focus + label {
      top: -50%;
      font-size: 12px;
      color: rgb(21, 52, 145);
    }
    @media (max-width: $max-width) {
      width: calc(#{$width}* 0.8);
    }
  }
}
