@import "./Mixins";
@import "./Variables";

.navigation {
  z-index: 999;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: $kapka;
  margin-top: 0;
  .main-nav {
    padding: 20px;
    background-color: #eee;
    display: flex;
    justify-content: right;
    .main-nav__list-item {
      position: relative;
      @include flex-mother();
      flex-grow: 1;
      margin: 0 auto;
      list-style-type: none;
      .main-nav__burger {
        display: none;
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 25px;
        color: #555;
        cursor: pointer;
      }
      .main-nav__item {
        flex-basis: 15%;
        max-width: 100px;
        min-width: 80px;
        text-align: center;
        .main-nav__item-link:first-child {
          margin: 0 5px 0 0;
          width: 100%;
        }
        .main-nav__item-link {
          display: block;
          width: 80%;
          min-width: 80px;
          margin: 0 auto;
          padding: 5px 0;
          color: #555;
          &:hover {
          }
          &.selected {
            font-weight: 600;
          }
          .main-nav__item-link-img {
            display: inline-block;
            border-right: 1px solid #999;
            width: 100%;
            padding-right: 15px;
          }
        }
        .main-nav__item-user {
          position: relative;
          // cursor: pointer;
          .main-nav__item-user-wrap {
            // display: none;
            // position: absolute;
            // top: 20%;
            // right: 65%;
            // border: 1px solid #777;
            // border-radius: 5px;
            // background-color: white;
            .main-nav__item-user-list {
              @include flex-mother($justify-content: flex-end, $align-items: flex-end);
              .main-nav__item-user-item {
                list-style-type: none;
                &:last-child a{
                  font-weight: 600;
                  font-size: 18px;
                  vertical-align: top;
                }
                a {
                  display: block;
                  padding: 0 10px;
                  color: #555;
                  font-weight: 500;
                  white-space: nowrap;
                }
              }
              .main-nav__item-user-item:last-child a {
                border: none;
              }
            }
          }
          .main-nav__unlogged--active {
            display: block;
          }
        }
      }
      .main-nav__item:last-child {
        @include flex-mother($justify-content: flex-end);
        clear: both;
        position: relative;
        flex-grow: 1;
        max-width: 100%;
        text-align: right;
        .main-nav__item-link {
          max-width: 180px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .navigation {
    .main-nav {
      .main-nav__list-item {
        @include flex-mother($flex-direction: column);
        .main-nav__burger {
          display: block;
        }
        .main-nav__item {
          text-align: left;
        }
        .main-nav__item + .main-nav__item {
          position: absolute;
          top: -1000px;
          width: 100%;
          max-width: 100%;
          flex-basis: 100%;
          text-align: center;
        }
        .main-nav__item + .main-nav__item.active {
          position: relative;
          top: 0px;
        }

        .main-nav__item:last-child {
          justify-content: center;
          max-width: 100%;
          .main-nav__item-link {
            text-align: center;
            margin: 0;
            padding: 0;
          }
          .main-nav__item-user {
            @include flex-mother($flex-direction: column);
            .main-nav__item-user-wrap {
              position: static;
              background-color: transparent;
              .main-nav__item-user-list {
                @include flex-mother($flex-direction: column , $align-items: stretch);
                .main-nav__item-user-item {
                  padding: 5px 0;
                  &:last-child a{
                    font-weight: 500;
                  }
                  a {
                  }
                }
                .main-nav__item-user-item:last-child a {
                }
              }
            }
            .main-nav__unlogged--active {
            }
          }
        }
      }
    }
  }
}
