@import "./Mixins";
@import "./Variables";

.navigation {
  z-index: 999;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: $kapka;
  margin-top: 0;
  .main-nav {
    padding: 20px;
    background-color: #eee;
    display: flex;
    justify-content: right;
    .main-nav__list-item {
      position: relative;
      @include flex-mother();
      flex-grow: 1;
      margin: 0 auto;
      list-style-type: none;
      .main-nav__burger {
        display: none;
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 25px;
        color: #555;
        cursor: pointer;
      }
      .main-nav__item {
        flex-basis: 15%;
        max-width: 100px;
        min-width: 80px;
        text-align: center;
        .main-nav__item-link:first-child {
          margin: 0 5px 0 0;
          width: 100%;
        }
        .main-nav__item-link {
          display: block;
          width: 80%;
          min-width: 80px;
          margin: 0 auto;
          padding: 5px 0;
          color: #555;
          &:hover {
          }
          &.selected {
            font-weight: 600;
          }
          .main-nav__item-link-img {
            display: inline-block;
            border-right: 1px solid #999;
            width: 100%;
            padding-right: 15px;
          }
        }
        .main-nav__item-user {
          position: relative;
          cursor: pointer;
          .main-nav__item-user-wrap {
            display: none;
            position: absolute;
            top: 20%;
            right: 65%;
            border: 1px solid #777;
            border-radius: 5px;
            background-color: white;
            .main-nav__item-user-list {
              .main-nav__item-user-item {
                padding: 0px 15px;
                list-style-type: none;
                a:first-child {
                  border-bottom: 1px solid black;
                }
                a {
                  display: block;
                  padding: 7px 27px;
                  color: #000;
                }
              }
              .main-nav__item-user-item:last-child a {
                border: none;
              }
            }
          }
          .main-nav__unlogged--active {
            display: block;
          }
        }
      }
      .main-nav__item:last-child {
        clear: both;
        position: relative;
        flex-grow: 1;
        max-width: 10000px;
        text-align: right;
        .main-nav__item-link {
          float: right;
          width: 40%;
          max-width: 100px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .navigation {
    .main-nav {
      .main-nav__list-item {
        @include flex-mother($flex-direction: column);
        .main-nav__burger {
          display: block;
        }
        .main-nav__item {
          text-align: left;
        }
        .main-nav__item + .main-nav__item {
          position: absolute;
          top: -1000px;
        }
        .main-nav__item + .main-nav__item.active {
          position: relative;
          top: 0px;
        }

        .main-nav__item:last-child {
          max-width: 100px;
          .main-nav__item-link {
            float: none;
            text-align: left;
          }
          .main-nav__item-user {
            @include flex-mother($flex-direction: column);
            .main-nav__item-user-wrap {
              position: static;
              margin-top: 13px;
              border: none;
              border-top: 1px solid black;
              border-bottom: 1px solid black;
              border-radius: 0px;
              background-color: transparent;
              .main-nav__item-user-list {
                .main-nav__item-user-item {
                  padding: 5px 0;
                  a:first-child {
                    border-bottom: none;
                  }
                  a {
                    padding: 0px;
                  }
                }
                .main-nav__item-user-item:last-child a {
                }
              }
            }
            .main-nav__unlogged--active {
            }
          }
        }
      }
    }
  }
}
