@import "./Mixins";
@import "./Variables";

.register-login__wrap {
  @include flex-mother($justify-content: center);
  .register-login__wrapp {
    @include flex-mother($flex-direction: column, $align-items: center);
    width: 50%;
    max-width: 1200px;
    margin-top: 70px;
    .register-login__title {
      margin-bottom: 30px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 28px;
      font-weight: bold;
      color: rgb(21, 52, 145);
    }
    .register-login__form {
      @include flex-mother($flex-direction: column, $align-items: center);
      @include input-mother-styles(250px, 20px 0);
      * {
      }

      .register-login__register-first-name {
      }
      .register-login__register-last-name {
      }
      .register-login__register-email {
      }
      .register-login__register-password {
      }
    }
  }
}

@media (max-width: 700px) {
  .register-login__wrap {
    @include flex-mother($justify-content: center);
    .register-login__wrapp {
      @include flex-mother($flex-direction: column, $align-items: center);
      width: 80%;
      max-width: 1200px;
      margin-top: 70px;
      .register-login__title {
        margin-bottom: 30px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 22px;
        font-weight: bold;
        color: rgb(21, 52, 145);
      }
      .register-login__form {
        @include flex-mother($flex-direction: column, $align-items: center);
        * {
          input {
            width: 200px;
          }
          input:focus {
          }
          label {
          }
          label.active {
          }
          input:focus + label {
          }
        }
        .register-login__register-first-name {
        }
        .register-login__register-last-name {
        }
        .register-login__register-email {
        }
        .register-login__register-password {
        }
      }
    }
    .register-login__login-wrap {
    }
  }
}
